/* div.css-1v0mbdj.etr89bj1{ */
    /* background-color: rgb(94, 214, 174);
    border: #eeee;
    padding:  10px 10px 10px 60px;
    padding:  5% 5% 5% 10%; */
    /* border-radius: 8px;; */
/* } */

.css-ocqkz7.e1tzin5v4 .css-1v0mbdj.etr89bj1{
    border: #4db151 1px solid;
    border-radius: 5px;
    padding: 1.5rem 1rem 1.5rem 1rem;
    /* background-color: #dbefdc; */
    background-color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
}

.css-ocqkz7.e1tzin5v4 .css-1v0mbdj.etr89bj1{
    padding: 0;
}

.css-1kyxreq.etr89bj2{
    justify-content: center;
}
/* .css-1kyxreq.etr89bj2 .css-1v0mbdj.etr89bj1{
    border: none;
} */

/* css-10v66x6.e1tzin5v0{
    max-width: 90rem;
} */

.css-18e3th9.egzxvld2{
    max-width: 100rem;
    margin: 10px;
}

.css-ocqkz7.e1tzin5v4{
    text-align: center;
}
.css-10trblm.e16nr0p30{
    text-align: center;
}

/* .css-ocqkz7.e1tzin5v4{
    over
} */

/* .user-select-none.svg-container{
    border: #4db151 1px solid;
    border-radius: 5px;
    padding: 0.1rem 0.1rem;
    background-color: #dbefdc;
} */
